<%- include('../partials/header') %>

<form action="/skills/<%= skill.id %>?_method=PUT" method="POST">
    <input type="text" name="skill" value="<%= skill.skill %>">
    <label>
        <input type="checkbox" name="level" <%= skill.level ? 'checked' : '' %>>
            Mastered
    </label><br>
    <button type="submit">Update Skills</button>
    </form>
    
 <%- include('../partials/footer') %>   