<%- include('../partials/header') %>
   <h3>Skills as of <%= time %></h3>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <form 
          action="/skills/<%= s.id %>?_method=DELETE"
          method="POST"
          class="delete-form"
          >
            <button type="submit">✖︎</button>
          </form>
          <a href="/skills/<%= s.id %>"><%= s.skill %></a>
            - 
          <%= s.level ? 'novice' : 'pro' %>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add New Skill</a>
    </div>
  <%- include('../partials/footer') %>